/*  CART 제목 */
.cart_title {
	margin: auto;
	float: center;
	color: #ef5470;
}

/* CART 테이블 */
.cart_table img {
	width: 20%;
}

.cartTable td {
	vertical-align : middle !important;
	font-size:18px;
	font-weight:bold;
}

#cart_addBtn {
	background-color : #ef5470;
	color : white;
	margin-bottom : 10px;
}


#cartTable_detail {
	font-size:15px !important;
}