#SettingDiv{
	/*border: 1px solid black;*/
	width: 400px ;
	height:300px;
	margin:auto;
	margin-top:50px;
}

.tegname{
	border: 1px solid black;
	width: 100%;
	height:80px;
    margin:auto;
}

.interest_title{
    text-align: center;
    background: #ef5470;
    color: white;
    width: 30%;
    margin: auto;
}

.interest_hashBox {
	width: 100%;
    height: 100px;
    background-color: white;
    border: 10px solid #EF546F;
    padding : 10px;
    overflow-x: hidden;
}