
/*div ��ü ���ΰ� �ִ� Form*/ 
.joinForm{
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

/*ȸ������ �۾�*/ 
.joinForm_title {
    text-align: center;
    background: #ef5470;
    color: white;
    width: 50%;
    margin: auto;
    padding:10px;
}


/*�ּҰ˻�,ȸ������, ������� ��ư*/ 
.joinForm_btn{
    width: 25%;
    background-color: #ef5470;
   color:white;
    font-weight: bold;
}

