#main { width: 70%; margin: auto; height: 100%;}

/* 占싸곤옙 */
#main_logo {
    height: 70px;
}
#main_logo img {
    margin-top: 10px;
    width: 300px;
    cursor: pointer;
}

.main_searchDiv{
	width:100%;
	margin-left:15%;

}
.main_searchForm{
	width:50%;
	margin:auto;
	display:inline-block;
}

.searchBtn {
	width:10%;
}


/* 회占쏙옙 占쏙옙占쏙옙(占싸깍옙占쏙옙, 회占쏙옙占쏙옙占쌉듸옙 占쏙옙튼) */
.main_member {
    margin-top: 25px;
    float: right;  
}
.main_member span {
    cursor: pointer;
    color: #da405c;
    margin-right: 10px;
    font-weight: bold;
}

/* 카占쌓곤옙 */
#main_cate {
    height: 50px;
    background-color: #da405c;
}
#main_cate span {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    padding: 10px;
    
}
/* 카占쌓곤옙 占쏙옙鍛牟占� */
.dropdown {
    display: inline-block;
    width: 20%;
    margin-right: -0.5%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover {
    background: #ef5470;
}

/* 占쏙옙占쏙옙占싱듸옙 */
#main_slide { 
   
}
#main_slide img {
    width: 100%;
    height: 500px;
}
.slideBtn {
    border:none;
    display:inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color: white;
    text-align:center;
    cursor:pointer;
    z-index: 1;
}
.slideBtn-left {
    position: absolute;
    top:38%;
    left:auto;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.slideBtn-right {
    position: absolute;
    top:38%;
    left:83%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}
.slideBtn:hover {
    color:#000!important;
    background-color:#ccc!important;
}

/* 占쏙옙품 占쌘쏙옙 */
#main_product {
    margin: auto;
}
.product_box {
	border : 10px solid #D2D2D2;
	display: inline-block;
    padding: 10px; 
    width: 300px;
    height: 420px;
    float: left; 
    margin: 20px 15px 20px;
    overflow: hidden;
    transition: all 0.5s;
  	-o-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	cursor:pointer;
  	text-align:center;
}
.product_box:hover {
	border : 10px solid #da405c;
}

.main_product_name{
	color:red;
	font-family:"HY얕은샘물M";
}
.product_img {
    background: #EAEAEA;
    width: 260px;
    height: 260px;
    overflow: hidden;
}
.product_img > img {
	height:100%;
}
.product_img > h1 {
    text-align: center;
    
}
.product_info {
	margin-top
}

.float_clear {
    clear: both;
}
.place_logo2{
	width:100%;
	height:100%;
}

   body {
      background-color: white;
   }
   #place_content {
      width: 100%;
      text-align: center;
      margin: auto;
   }
   #place_box {
	border : 10px solid #D2D2D2;
	display: inline-block;
	margin:auto;
	width: 45%;
	float:center;
	height: 150px;
	margin-top: 5%;
	margin-left: 2%;
	padding-top:1%;
	padding-left:2%;
	background: #FAFAFA;
	float: left;
	transition: all 0.5s;
  	-o-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	cursor:pointer;
	
	
   }
	#place_box:hover {
		border : 10px solid #da405c;
	}
   
   #place_img {
      display: block;
      width: 100px;
      height: 100px;
      float: left;
      overflow: hidden;
      border-radius: 100%;
      background-color: gray; 
   }
   
   #place_img > img {
		width:100px;
		height:100px;
   }
   
   
   #place_info {
      display: block;
      height:80%;
      width: 55%;
      float: right;
      margin-top:1%;
      padding: 1%;
      color:#333;
      margin-right:10%;
   }
   
   #place_img img {
         width: 100%;
   }
   
   #place_info .red {
      color: red;
   }
   
   h2 {
      text-align: center;
   }
   .place_search {
         margin: auto;
         width: 100%;
      }
      
	#lodging_content {
		width: 100%;
		text-align: center;
	}
	
	#lodging_box {
		border : 10px solid #D2D2D2;
		display: inline-block;
		margin-top: 5%;
		margin-left: 3.3%;
		margin-right:3.3%;
		padding: 2%;
		transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		cursor: pointer;
	}
	#lodging_box:hover {
		border : 10px solid #da405c;
	}
#lodging_img {
      display: block;
      width: 500px;
      height: 400px;
      overflow: hidden;
   }
   #lodging_info {
      display: block;
      height: 50%;
      width: 100%;
      padding: 1%;
   }
   #lodging_img img {
      {
         width: 100%;
         border:solid 3px red;
      }
   }
   #lodging_info .red {
      color: red;
   }
   h2 {
      text-align: center;
   }
   .lodging_search {
         width: 100%;
      }
   @media all and (max-width: 639px) {
      #lodging_box {
         width: 47%;
         height: 250px;
         margin-top: 4%;
      }
      #lodging_img {
         width: 100%;
         height: 100%;
      }
      .lodging_search {
         width: 100%;
      }
   }
   
	/* 슬라이드 관련 */
	
	/* 占쏙옙占쏙옙占싱듸옙 */
	.main_slide { 
	   width: 100%;
	
	   margin: auto;
	}
	.main_slide img {
	    width: 96%;
	    height: 500px;
	}
	.slideBtn {
	    border:none;
	    position: absolute;
	    display:inline-block;
	    outline:0;
	    overflow:hidden;
	    text-decoration:none;
	    color:inherit;
	    background-color: white;
	    text-align:center;
	    cursor:pointer;
	}
	
	.slideBtn:hover {
	    color:#000!important;
	    background-color:#ccc!important;
	}
	
	.slide-wrap {position:relative; width:100%; height:450px; overflow:hidden; margin:auto;}
	ul.slide-list{ width: 100%; position:relative; left;0px; margin:auto; list-style: none;}
	ul.slide-list li {width: 100%; position:relative; height:450px;}   
	.slideBtn-left {position:absolute; top:220px;}
	.slideBtn-right {position:absolute; top:220px;}
      

   @media all and (max-width: 639px) {
      #place_box {
         width: 80%;
         margin-top: 4%;
      }
      #place_img {
         border-radius: 50%;
      }
      .place_search {
         width: 100%;
      }
   }
