#main { width: 70%; margin: auto; height: 100%;}


@font-face {
   font-family : '나눔바른펜';
   src : url('font/NANUMBARUNPENR.TTF');
}

@font-face {
	font-family : '옛날목욕탕';
	src : url('font/MokYokL.ttf');
}

@font-face {
	font-family : '빨강우체통';
	src : url('font/redPost.ttf');
}

   .jssorl-004-double-tail-spin img {
            animation-name: jssorl-004-double-tail-spin;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-004-double-tail-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb052 .i {position:absolute;cursor:pointer;}
        .jssorb052 .i .b {fill:#000;fill-opacity:0.3;stroke:#fff;stroke-width:20%;stroke-miterlimit:10;stroke-opacity:0.7;}
        .jssorb052 .i:hover .b {fill-opacity:.7;}
        .jssorb052 .iav .b {fill-opacity: 1;}
        .jssorb052 .i.idn {opacity:.3;}

        .jssora053 {display:block;position:absolute;cursor:pointer;}
        .jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
        .jssora053:hover {opacity:.8;}
        .jssora053.jssora053dn {opacity:.5;}
        .jssora053.jssora053ds {opacity:.3;pointer-events:none;}


/* index.jsp 상단바 */
#main_info {
    height: 60px;
    background: white;
}
/* 로고, 검색창 */
#main_search {
	text-align: center;
	padding-bottom: 10px;
	background: white;
}
#main_search img {
	width: 300px;
	cursor: pointer;
}
#main_search input{
	width: 260px;
	margin-left: 20px;
}

/* 회占쏙옙 占쏙옙占쏙옙(占싸깍옙占쏙옙, 회占쏙옙占쏙옙占쌉듸옙 占쏙옙튼) */
.main_member {
    margin-top: 25px;
    float: right;  
}
.main_member span {
    cursor: pointer;
    color: #da405c;
    margin-right: 10px;
    font-weight: bold;
}

/* 메인 카테고리 */
#main_category {
    height: 50px;
    text-align: center;
    background: white;
}
#main_category span {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 10px;
}
#main_category .main_issue {
	color: #da405c;
}
/* 드롭다운 */
.dropdown {
    display: inline-block;
    width: 10%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #d2d2d2
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover {
	background-color: #ccc;
}

/* 메인 슬라이드 */
#slider {
	/*  border: 1px solid black;  */
	width: 59%;
	height: 480px;
	background-color: black;
	display: inline-flex;
}
.main_slide img {
    width: 100%;
    height: 550px;
}
.slideBtn {
    border:none;
    display: inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    background-color: white;
    text-align:center;
    cursor:pointer;
    z-index: 1;
}
.slideBtn:hover {
    color:#000!important;
    background-color:#ccc!important;
}
.slide-wrap { overflow:hidden; }
ul.slide-list{ list-style: none; padding:0;} 

/* 메인 이슈박스 */
.main_issueBox{
	/* border: 1px solid black; */
	
	display: inline-block;
	width: 40%;
	height: 540px;
	min-height: 500px;
	vertical-align: middle;
	margin-top:-40%;
	overflow: hidden;
}
.main_issueBox > h3 {
	background: white;
	margin: 0;
}
.mainissue_border {
    background: #FAFAFA;
	border : 10px solid #D2D2D2;
    height: auto;
    padding:2%;
    margin:auto;
    line-height:2.3em;
    max-height: 445px;
}
.main_issueBox ul {
	list-style:none; padding: 0;
}
.main_issueBox ul li {
	position: absolute;
	width: 27%;
	height: 500px;
	z-index: -3;
	margin-top: 210px;
}
.mainissue_picture img {
	width: 50px;
	border-radius:50%;
	float:left;
    margin-top:10px;
    margin-bottom: 10px;
}
.mainissue_profile {
    color: gray;
    font-size: 14px;
    line-height:1.5em;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.mainissue_profile button {
	margin-left: 10px;
}
.mainissue_content {
	background: white;
    height: 75%;
    padding:40px;
    border : 3px solid #CACACA;
    font-size:20px;
    max-height: 330px;
}
.mainissue_content h3 {
	max-height: 200px; overflow: auto;
}
.mainissue_content>img {
   width:100%;
}

/* 상품부터 배경 흰색  -> 이슈 슬라이드 때문에 */
.bot {
	background: white;
}
/* 임시 영역 */
.imsi {
	width: 100%;
	height: 250px;
	/* background: silver; */
}
.imsi_1{
	/* border: 1px solid black;  */
	width:33%;
	float:left;
	height:240px;
	margin-left:4px;
	
	
}
.imsi_img{
	
	width:440px;
	
	height:240px;
	
	
	
}
/* 메인 상품 */
#main_product {
    margin: auto;
    margin-top: 20px;
}
.main_product_title {
	font-size: 1.6em;
	font-weight: bold;
	color: #da405c;
}
.product_box {
	border : 5px solid #D2D2D2;
	display: inline-block;
    padding: 10px; 
    width: 300px;
    height: 420px;
    float: left; 
    margin: 20px 15px 20px;
    overflow: hidden;
    transition: all 0.5s;
  	-o-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	cursor:pointer;
  	text-align:center;
}
.product_box:hover {
	border : 5px solid #da405c;
}

.main_product_name{
	color:red;
	font-family:"HY얕은샘물M";
}
.product_img {
    background: #EAEAEA;
    height: 260px;
    overflow: hidden;
}
.product_img > img {
	height:100%;
}
.product_img > h1 {
    text-align: center;
    
}
.product_info {
/* 	margin-top */
	font-family:'옛날목욕탕';
}

.float_clear {
    clear: both;
}
.place_logo2{
	width:100%;
	height:100%;
}

   body {
      background-color: white;
   }
   
   #place_content {
      width: 100%;
      text-align: center;
      margin: auto;
   }
   #place_box {
	border : 10px solid #D2D2D2;
	display: inline-block;
	margin:auto;
	width: 45%;
	float:center;
	height: 150px;
	margin-top: 5%;
	margin-left: 2%;
	padding-top:1%;
	padding-left:2%;
	background: #FAFAFA;
	float: left;
	transition: all 0.5s;
  	-o-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	cursor:pointer;
	
	
   }
	#place_box:hover {
		border : 10px solid #da405c;
	}
   
   #place_img {
      display: block;
      width: 100px;
      height: 100px;
      float: left;
      overflow: hidden;
      border-radius: 100%;
      background-color: gray; 
   }
   
   #place_img > img {
		width:100px;
		height:100px;
   }
   
   
   #place_info {
      display: block;
      height:80%;
      width: 55%;
      float: right;
      margin-top:1%;
      padding: 1%;
      color:#333;
      margin-right:10%;
   }
   
   #place_img img {
         width: 100%;
   }
   
   #place_info .red {
      color: red;
   }
   
   h2 {
      text-align: center;
   }
   .place_search {
         margin: auto;
         width: 100%;
      }
      
	#lodging_content {
		width: 100%;
		text-align: center;
	}
	
	#lodging_box {
		border : 10px solid #D2D2D2;
		display: inline-block;
		margin-top: 5%;
		margin-left: 3.3%;
		margin-right:3.3%;
		padding: 2%;
		transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		cursor: pointer;
	}
	#lodging_box:hover {
		border : 10px solid #da405c;
	}
#lodging_img {
      display: block;
      width: 500px;
      height: 400px;
      overflow: hidden;
   }
   #lodging_info {
      display: block;
      height: 50%;
      width: 100%;
      padding: 1%;
   }
   #lodging_img img {
      {
         width: 100%;
         border:solid 3px red;
      }
   }
   #lodging_info .red {
      color: red;
   }
   h2 {
      text-align: center;
   }
   .lodging_search {
         width: 100%;
      }
   @media all and (max-width: 639px) {
      #lodging_box {
         width: 47%;
         height: 250px;
         margin-top: 4%;
      }
      #lodging_img {
         width: 100%;
         height: 100%;
      }
      .lodging_search {
         width: 100%;
      }
   }
   
	
   @media all and (max-width: 639px) {
      #place_box {
         width: 80%;
         margin-top: 4%;
      }
      #place_img {
         border-radius: 50%;
      }
      .place_search {
         width: 100%;
      }
   }

 .sitemap {
 	width: 100%;
 	height: 400px;
 	background: silver;  
 }
 