#main {
	width: 1300px;
	margin: auto;
	height: 100%;
	font-family:'고도체M';
}


@font-face {
   font-family : '나눔바른펜';
   src : url('font/NANUMBARUNPENR.TTF');
}

@font-face {
	font-family : '옛날목욕탕';
	src : url('font/MokYokL.ttf');
}

@font-face {
	font-family : '빨강우체통';
	src : url('font/redPost.ttf');
}

@font-face {
	font-family: '고도체M';
	src : url('font/GodoM.ttf');
}

@font-face {
	font-family : '고도체B';
	src : url('font/GodoB.ttf');
}

@font-face {
	font-family : '한나체';
	src : url('font/Hanna.ttf');
}

@font-face {
	font-family : '도현체';
	src : url('font/Dohyun.ttf');
}


   .jssorl-004-double-tail-spin img {
            animation-name: jssorl-004-double-tail-spin;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-004-double-tail-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }


        .jssorb052 .i {position:absolute;cursor:pointer;}
        .jssorb052 .i .b {fill:#000;fill-opacity:0.3;stroke:#fff;stroke-width:20%;stroke-miterlimit:10;stroke-opacity:0.7;}
        .jssorb052 .i:hover .b {fill-opacity:.7;}
        .jssorb052 .iav .b {fill-opacity: 1;}
        .jssorb052 .i.idn {opacity:.3;}

        .jssora053 {display:block;position:absolute;cursor:pointer;}
        .jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
        .jssora053:hover {opacity:.8;}
        .jssora053.jssora053dn {opacity:.5;}
        .jssora053.jssora053ds {opacity:.3;pointer-events:none;}


/* index.jsp 상단바 */


#main_header {
	width:100%;
	height:220px;
	text-align:center;
}
#main_logo {
	position:absolute;
	width:1300px;
	height:60px;
	text-align:center;
	z-index:4;
}

#main_logo img {
	width:300px;
	cursor: pointer;
}

#main_info {
    height: 60px;
    background: white;
    position: relative;
    float: right;
	z-index: 4;
}

#main_issue {
	position:relative;
	width:200px;
	height:140px;
	float:left;
	z-index:4;
	margin-top:50px;
}

/* 로고, 검색창 */
#main_search {
	text-align: center;
	padding-bottom: 10px;
	background: white;
	position: absolute;
    width: 1300px;
    z-index: 3;
    text-align: center;
    margin-top: 60px;
}
#main_search img {
	width: 300px;
	cursor: pointer;
}
#main_search input{
	width: 260px;
	margin: auto;
    display: inline-block;
    -webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#main_search input:focus {
	width:550px;
}

#main_geolocation {
	width:1300px;
	text-align:center;
	padding-top:110px;
	position:absolute;
	z-index:2;
}
#index_findeGeo {
	width: 0;
    display: inline;
    position: absolute;
    top: 115px;
    background-color: white;
    left: 883px;
/*     -webkit-transition: 0.5s; For Safari 3.1 to 6.0
    transition: 0.5s; */
}
#resultOfGeo {
	width : 390px;
	height: auto;
	background-color:#f1f1f1;
	margin-left:330px;
	display:none;
	font-size: 20px;
    text-align: left;
    padding-top: 10px;
}
#resultOfGeo ul li {
	margin-bottom: 10px;
	padding-left: 20px;
	cursor:pointer;
}
#resultOfGeo ul li:hover {
	background-color:#d1d1d1;
}
#index_searchMyGeolocation {
/* 	width: 390px; */
	width:0px;
/* 	display: inline-block; */
	display: none;
}
#index_searchAutoGeolocation {
/* 	width: 150px; */
	width:0px;
	display : none;
}
#whereIsNow {
	font-weight:bold;
	font-size:26px;
	color:#ef5470;
}
#main_notifyAboutGeo {
	font-weight:bold;
	font-size:22px;
}
/* 회占쏙옙 占쏙옙占쏙옙(占싸깍옙占쏙옙, 회占쏙옙占쏙옙占쌉듸옙 占쏙옙튼) */
.main_member {
    margin-top: 25px;
    float: right;  
}
.main_member span {
    cursor: pointer;
    color: #da405c;
    margin-right: 10px;
    font-weight: bold;
}

/* 메인 카테고리 */
#main_category {
	height: 50px;
    text-align: center;
    background: white;
    padding-top: 150px;
    position: absolute;
    width: 1300px;
    z-index: 1;
}
#main_category span {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 10px;
}
#main_category .main_issue {
	color: #da405c;
}

.main_content {
	text-align:center;
}

/* 드롭다운 */
.dropdown {
    display: inline-block;
    width: 10%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #d2d2d2
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover {
	background-color: #ccc;
}

/* 메인 슬라이드 */
#slider {
	/*  border: 1px solid black;  */
	width: 1300px;
	height: 400px;
	text-align:center;
	background-color: black;
	display: inline-flex;
}
.main_slide img {
	width: 1300px;
	height: 400px;
}
.slideBtn {
    border:none;
    display: inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    background-color: white;
    text-align:center;
    cursor:pointer;
    z-index: 1;
}
.slideBtn:hover {
    color:#000!important;
    background-color:#ccc!important;
}
.slide-wrap { overflow:hidden; }
ul.slide-list{ list-style: none; padding:0;} 

/* 메인 이슈박스 */
.main_issueBox{
	/* border: 1px solid black; */
	display: inline-block;
	width: 300px;
	height: 140px;
	vertical-align: middle;
	overflow: hidden;
	position:relative;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.main_issueBox > h3 {
	background: white;
	margin: 0;
}
.mainissue_border {
    background: #FAFAFA;
	border : 10px solid #D2D2D2;
    height: 140px;
    padding:2%;
    margin:auto;
    line-height:2.3em;
    max-height: 445px;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}
.main_issueBox ul {
	list-style:none; padding: 0;
	width:300px;
	height: 140px;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}
.main_issueBox ul li {
	position: absolute;
	width: 300px;
	height: 140px;
	left:0;
	-webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

/* 이슈 갔다대면 더 많은 정보를 볼 수 있는 기능 책갈피 */

.main_issueBox:hover {
	height:300px;
}
.main_issueBox ul:hover {
	height:300px;
}
.main_issueBox ul li:hover {
	height:300px;
}
.mainissue_border:hover {
	height:300px;
}
/* 끝 */


.mainissue_picture img {
	width: 50px;
	border-radius:50%;
	float:left;
    margin-bottom: 10px;
}
.mainissue_profile {
    color: gray;
    font-size: 14px;
    line-height:1.5em;
    margin-top:20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.geoOfIssue {
	float: left;
	padding-top: 0px;
	margin-left: -40px;
	text-align: left;
}
.mainissue_profile span {
	margin-left:-70px;
}
.mainissue_profile button {
	width: 90px;
	margin-left: -30px;
    margin-top: -15px;
}
.mainissue_content {
    background: white;
    height: 0px;
    /* padding: 40px; */
    /* border: 3px solid #CACACA; */
    font-size: 20px;
    /* max-height: 330px; */
    overflow: hidden;
    margin:auto;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    width:90%;
}
.mainissue_content h3 {
	max-height: 200px; overflow: auto;
}
.mainissue_content>img {
   width:100%;
}

/* 상품부터 배경 흰색  -> 이슈 슬라이드 때문에 */
.getBestItem {
	background: white;
	margin-top:20px;
}
/* 임시 영역 */
.BestItemList {
    width: 1300px;
    height: 300px;
    margin: auto;
	/* background: silver; */
}
.BestItem{
    width: 410px;
    height: 300px;
    display: inline-table;

}
.BestItem_img {
	width:410px;
	height:240px;
	margin-top:-60px;
}

#main_bestItem {
    margin-left: 20px;
    margin-right: 20px;
}

#main_newItem {
	float:left;
}

#main_recommendItem {
	float:right;
}

/* 메인 상품 */
#main_product {
    margin: auto;
    margin-top: 20px;
}
.main_product_title {
	font-size: 1.6em;
	font-weight: bold;
	color: #da405c;
	text-align: left;
}
.product_box {
/*  	border : 0px solid #c1c1c1;  */
	display: inline-block;
    width: 300px;
    height: 360px;
    float: left; 
    margin: 20px 16px 20px;
    overflow: hidden;
    transition: all 0.3s;
  	-o-transition: all 0.3s;
  	-ms-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	cursor:pointer;
/*   	box-shadow: 0px 1px 1px rgba(148, 148, 148, 0.25); */
}
.product_box:hover {
/*  	border : 1px solid rgba(255, 150, 140, 0.5);  */
 	
/* 	box-shadow: 1px 5px 5px rgba(255, 150, 140, 0.5); */
/*  	border : 1px solid #c1c1c1; 
 	box-shadow: 0px 1px 1px rgba(148, 148, 148, 0.25);  */
}

.main_product_name{
	color:red;
	font-family:"HY얕은샘물M";
}
.product_img {
    background: #EAEAEA;
    height: 190px;
    width:300px;
    overflow: hidden;
}
.product_img > img {
	height:100%;
	width:100%;
}
.product_img > h1 {
    text-align: center;
    
}
.product_info input[type=button] {
	margin-top:-20px;
}

.sitemap_table { 
	width: 90%;
/*  	background-color:#eee;
	border-collapse:collapse;  */
	text-align:left;
	float:right;
}
.sitemap_table td {
/*  	border:1px solid #000;  */
	font-size:16px;
	padding-bottom:4px;
	padding-top : 4px;
/* 	height:14px; */
}

#paper {
	width:100%;
	height:100px;
	position:absolute;
}
.sitemap_table_title {
 	font-weight:bold !important;
	font-size:24px !important;
	padding-bottom:12px;
	padding-top : 12px;
}

.product_info {
/* 	margin-top */
}

.float_clear {
    clear: both;
}
.place_logo2{
	width:100%;
	height:100%;
}

   body {
      background-color: white;
   }
   
   #place_content {
      width: 100%;
      text-align: center;
      margin: auto;
   }
   #place_box {
	border : 10px solid #D2D2D2;
	display: inline-block;
	margin:auto;
	width: 45%;
	float:center;
	height: 150px;
	margin-top: 5%;
	margin-left: 2%;
	padding-top:1%;
	padding-left:2%;
	background: #FAFAFA;
	float: left;
	transition: all 0.5s;
  	-o-transition: all 0.5s;
  	-ms-transition: all 0.5s;
  	-moz-transition: all 0.5s;
  	-webkit-transition: all 0.5s;
  	cursor:pointer;
	
	
   }
	#place_box:hover {
		border : 10px solid #da405c;
	}
   
   #place_img {
      display: block;
      width: 100px;
      height: 100px;
      float: left;
      overflow: hidden;
      border-radius: 100%;
      background-color: gray; 
   }
   
   #place_img > img {
		width:100px;
		height:100px;
   }
   
   
   #place_info {
      display: block;
      height:80%;
      width: 55%;
      float: right;
      margin-top:1%;
      padding: 1%;
      color:#333;
      margin-right:10%;
   }
   
   #place_img img {
         width: 100%;
   }
   
   #place_info .red {
      color: red;
   }
   
   h2 {
      text-align: center;
   }
   .place_search {
         margin: auto;
         width: 100%;
      }
      
	#lodging_content {
		width: 100%;
		text-align: center;
	}
	
	#lodging_box {
		border : 10px solid #D2D2D2;
		display: inline-block;
		margin-top: 5%;
		margin-left: 3.3%;
		margin-right:3.3%;
		padding: 2%;
		transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-webkit-transition: all 0.5s;
		cursor: pointer;
	}
	#lodging_box:hover {
		border : 10px solid #da405c;
	}
#lodging_img {
      display: block;
      width: 500px;
      height: 400px;
      overflow: hidden;
   }
   #lodging_info {
      display: block;
      height: 50%;
      width: 100%;
      padding: 1%;
   }
   #lodging_img img {
      {
         width: 100%;
         border:solid 3px red;
      }
   }
   #lodging_info .red {
      color: red;
   }
   h2 {
      text-align: center;
   }
   .lodging_search {
         width: 100%;
      }
   @media all and (max-width: 639px) {
      #lodging_box {
         width: 47%;
         height: 250px;
         margin-top: 4%;
      }
      #lodging_img {
         width: 100%;
         height: 100%;
      }
      .lodging_search {
         width: 100%;
      }
   }
   
	
   @media all and (max-width: 639px) {
      #place_box {
         width: 80%;
         margin-top: 4%;
      }
      #place_img {
         border-radius: 50%;
      }
      .place_search {
         width: 100%;
      }
   }

 .sitemap {
 	width: 100%;
 	height: 400px;
 	background: white; 
 	margin-bottom:200px;
 }
 
 /* 사이드 바 */
 
 #isProduct_mySidenav p {
    position: fixed;
    left: -120px;
    transition: 0.3s;
    padding: 15px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#isProduct_mySidenav p:hover {
    left: 0;
}

.clickForTypeItems {
	cursor:pointer;
}

#isProduct_menu {
	cursor: default !important;
	left:0 !important;
    top: 260px;
    background-color: #555
}

#isProduct_1 {
    top: 320px;
    background-color: #4CAF50;
}

#isProduct_2 {
    top: 380px;
    background-color: #2196F3;
}

#isProduct_3 {
    top: 440px;
    background-color: #f44336;
}

.BestItemList_Mark {
	width:60px;
	height:60px;
	position:relative;
}

#newItem_Mark {
    left: -160px;
    top: 10px;
}

#bestItem_Mark {
    left: -160px;
    top: 10px;
}

#recommendItem_Mark {
    left: -160px;
    top: 10px;
}

.BestItem p {
	font-size:20px;
}

.BestItem_Title {
	position: absolute;
    width: 410px;
    height: 50px;
    opacity: 0.7;
    background-color: white;
    margin-top: 120px;
}
 .BestItem_Title p {
	font-size: 20px;
    vertical-align: middle;
    color: black;
    line-height: 2.3em; 
    position:inline;
} 

.BestItem_Info {
	width:410px;
	height:30px;
	display:inline-block;
	text-align:left;
	margin-top:6px;
}

.watchOut {
	display:none;
}

.modal-dialog {
	z-index:9999;
}

.panel-default {
	display:inline-table;
}

.Somebody_timeline {
    width: 1300px;
    position: absolute;
    top: 17px;
    z-index: 3;
}

.Somebody_timeline>img {
    width: 40px;
    float: right;
    margin-right: -43px;
    cursor:pointer;
}

.Somebody_timeline_detail {
    width: 300px;
    top: 40px;
    height: 300px;
    float: right;
    position: relative;
    background: lightblue;
    display: none;
	
}