.orderDate {
	margin: auto;
	margin-top: 10px;
	width: 90%;
	padding: 10px;
	border: solid 5px #EAEAEA;
}
.requestForm {
	width:50%;
}
.table-responsive {
	margin: auto;
	text-align: center;
	position: relative;
	margin-top: 10px;
}

.requestList th {
	text-align:center !important;
}

.requestList td {
	vertical-align:middle !important;
	font-weight:bold;
}

.selectForType {
	width:100px !important;
}

h2 {
	margin: auto;
	float: center;
	color: #ef5470;
}
.btn {
    color: #ef5470;
}