<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjc.wdb.somebodyplace.RequestMapper">
	<insert id="insertRequest">
		insert into request(member_code)
		values(#{member_code});
	</insert>
	<select id="Requestlist" resultType="Request">
		select * from detail where option_code = #{option_code}
	</select>
	
	<select id="readRequestCode" resultType="Integer">
		select Max(request_code)
		from request
		where member_code = #{a}
	</select>
	
	<insert id="insertRequestList" >
		insert into request_list(request_code, product_code, request_list_totalprice,request_type,request_content,request_addr,request_phone)
		values(#{request_code}, #{product_code},  #{request_list_totalprice},#{request_type},#{request_content},#{request_addr},#{request_phone})
	</insert>
	
	<insert id="insertRequestOption">
		insert into request_option(request_list_code, detail_code)
		values(#{request_list_code}, #{detail_code})
	</insert>
	
	<select id="readRequestListCode" resultType="Integer">
		select request_list_code
		from request_list
		where request_code = #{request_code}
	</select>
	
	<select id="readMyPlaceRequestList" resultType="Request">
		
		select m.request_code, r.request_list_code, m.member_code,m.member_nickname,p.product_code,p.product_img, p.product_name, r.request_list_totalprice,m.request_status, r.amount, m.request_date,r.request_type,r.request_content,r.request_addr,r.request_phone
		from request_list r, (select product_code, product_name,product_img
					from product
					where place_code = (select place_code from place
					where member_code = #{member_code})) p, (select m.member_nickname, r.request_code,r.request_status, r.request_date,m.member_code
									from member m, request r
									where r.member_code = m.member_code) m
		where r.product_code = p.product_code
		and m.request_code = r.request_code
		order by m.request_date desc

	</select>
	
	<update id="setRequestType">
		update request
		set request_status = #{request_status}
		where request_code = #{request_code}
	</update>
	
	<update id="calculateBudget">
		update request
		set request_status = "정산완료"
		where DATE_FORMAT(request_date, "%c") = #{budget_month}
		and request_code in (select request_code from request_list
							where product_code in (select product_code from product
												  where place_code = #{place_code}))
		and request_status = "완료"
	</update>
</mapper>