/* 이슈 메인 반응형 CSS*/
    
/* 이슈 영역 */
.issue_ contents {
    width: 100%; 
    margin: auto;
}
.issue_search {
    margin: 2%;
}
.issue_searchDiv2 {
	width: 100%;
}

.issue_box {
    width: 100%;
    height: auto;
}

.issue_picture {
    float:left;
    width:15%;
    margin-left:3%;
    margin-right:3%;
    margin-bottom:3%;
}

/* 이슈 댓글 영역*/

.issue_picture>img {
    width: 100%;
    border-radius: 50%;
}
.issue_profile {
    color: gray;
    font-size: 15px;
    line-height: 1.5em;
    float:left;
    margin-top:20px;
}
.issue_setting {
    cursor: pointer;
    float: right;
    margin-right: 3%;
}
.issue_setting > img {
    width: 100%;
}

.issue_content {
    background: white;
    border:solid 3px blue;
    padding: 3%;
    border : 1px solid #EAEAEA;
    font-size:20px;
}

.issue_content>img {
    width: 100%;
}

.reply_picture > img {
    width: 70%;
}

/* 본일 */
.issue_searchForm {
	width:60%;
	float:left;
}

.issue_top {
	margin-top:20px;
	height:100px;
}

/* 본일 끝 */
.reply_btn {
    margin-top: 2%;
}
.reply_count {
    float: right;
}

.reply_list {
    background-color:white;
    width:100%;
    height:auto;
    margin-top:10%;
    border-top : 1px solid #EAEAEA;
}

.reply_comment {
    margin-top:20px;
    width:100%;
}

.reply_picture {
    float:left;
    width:10%;
    margin-left:1%;
    margin-right:1%;
}
.reply_profile {
    color: gray;
    font-size: 14px;
    line-height:1.5em;
    float:left;
}
.reply_text {
    float: middle;
    margin-left: 35%;
    margin-right: 10%;
}
.reply_setting {
    cursor: pointer;
    float:right;
    margin-left:1%;
    width:9%;
}

/* 댓글 입력창 */

.reply_textarea {
    margin-top:2%;
    width:90%;
}

.reply_addText {
    margin-top:20px;
    width:90%;
    float:left;
}

.reply_addTextBtn {
    margin-top:20px;
    margin-left:1%;
    width:10%;
    float:middle;
}

/* 댓글 입력창 */

.reply_textarea {
    margin-top: 1%;
    width:100%;
}

.reply_addText {
    margin-top:20px;
    width:90%;
    float:left;
}

.reply_addTextBtn {
    margin-top:20px;
    margin-left:1%;
    width:9%;
    float:middle;
}