@media all and (max-width: 639px) {
    /* 메인 상단 메뉴부분 */
    #main_logo {
        height: 6%;
    }
    #main_logo img {
        width: 30%;
    }
    .main_member {
        margin-top: 3%;
        float: right;
        margin-right: 1%;
    }
    .main_member span {
        cursor: pointer;
        color: #da405c;
        font-weight: bold;
    }
    #main_cate {
        height: 4%;
        background-color: #da405c;
    }
    #main_cate span {
        display: inline-block;
        width: 100%;
        text-align: center;
        cursor: pointer;
        height: 6%;
        font-size: 2.0em;
        color: white;
        font-weight: bold;
        padding: 3px;
    }
    
    /* 드롭다운 */
    .dropdown {
        display: inline-block;
        width: 19.5%;
        margin-right: -0.3%;
    }


    /* 회원가입 영역 */
    .join {
        width: 70%;
        margin: auto;
    }
    .joinForm{
        width: 70%;
        margin: auto;
        margin-top: 10%;
    }
    button {
        color: #da405c;
    }
    .joinForm_title {
        text-align: center;
        background: #ef5470;
        color: white;
        width: 100%;
        margin: auto;
    }
    .btn {
        width: 22%;
        color: #ef5470;
        font-weight: bold;
    }
    .btn:hover {
        color: #ef5470;
    }
    a {
        text-decoration: none;
        color: #da405c;
    }
    .phoneForm {
        width: 25%;
    }
    .joinForm_joinBtn {
        width: 40%;
    }
    .joinForm_cancelBtn {
        width: 40%;
    }
    .searchAdd {
        margin-top:2%;
        width: 30%;
    }

}